<!DOCTYPE html>
<html style=" font-size:20px;">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="__STATIC__/share/js/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="__STATIC__/share/css/css.css"/>
    <script src="__STATIC__/share/js/inde.js"></script>
</head>
<body >

    <div id="box">
        <div class="mobile_top">
            <img src="__STATIC__/share/image/logo1.png" alt=""/>
            <p>各大应用商城下载列表</p>
        </div>

        <div class="mobile_content">
            <ul class="list">
                <li class="app">
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.hanya.gxls">
                    <!--<a href="javascript:;">-->
                        <div class="idiv">
                        <img src="__STATIC__/share/image/yingyongbao.png">
                        </div>

                    <span>应用宝</span>
                    </a>
                </li>
                <li class="app">
                    <a href="http://info.appstore.vivo.com.cn/detail/1994073?source=1">
                        <!--<a href="javascript:;">-->

                        <div class="idiv">
                            <img src="__STATIC__/share/image/vivo.png">
                        </div>

                    <span>VIVO应用商店</span>
                    </a>
                </li>
                <li class="app">
                    <a href="http://fx.anzhi.com/share_2887738.html?azfrom=qqfriend">
                        <!--<a href="javascript:;">-->

                        <div class="idiv">
                            <img src="__STATIC__/share/image/anzhi.png">
                        </div>

                    <span>安智市场</span>
                    </a>
                </li>

            </ul>
            <ul class="list">
                <li class="app" style="width: 50%">
                    <a href="http://17113071184.share.sj.360.cn/qcms/view/t/detail?id=3916107">
                        <!--<a href="javascript:;">-->

                        <div class="idiv">
                            <img src="__STATIC__/share/image/360.png">
                        </div>

                    <span>360手机助手</span>
                    </a>
                </li>
                <li class="app" style="width: 50%">
                    <a href="http://mobile.baidu.com/item?docid=22777496&source=s1001">
                        <!--<a href="javascript:;">-->

                        <div class="idiv" style="">
                            <img src="__STATIC__/share/image/baidu.jpg" style="padding: 0.2rem 0 0 1.2rem;width: 100%;height: 80%">
                        </div>

                    <span>百度手机助手</span>
                    </a>
                </li>

            </ul>
            <ul class="list">
                <li class="app">
                    <!--<a href="http://mobile.zhushou.sogou.com/android/appdetail_share.html?app_id=636209&from=singlemessage&isappinstalled=1">-->
                        <a href="javascript:;">

                        <div class="idiv">
                            <img src="__STATIC__/share/image/sougou.png">
                        </div>

                    <span>搜狗手机助手</span>
                    </a>
                </li>
                <li class="app">
                    <a href="http://app.xiaomi.com/detail/537272">
                        <!--<a href="javascript:;">-->

                        <div class="idiv">
                            <img src="__STATIC__/share/image/xiaomi.png">
                        </div>

                    <span>小米应用商店</span>
                    </a>
                </li>
                <li class="app">
                    <a href="http://a.vmall.com/app/C100139639?shareTo=com.tencent.mobileqq&shareFrom=appmarket">
                        <!--<a href="javascript:;">-->

                        <div class="idiv">
                            <img src="__STATIC__/share/image/huawei.png">
                        </div>

                    <span>华为应用市场</span>
                    </a>
                </li>

            </ul>
            <ul class="list">
                <li class="app">
                    <!--<a href="javascript:alert('该平台暂时无法下载');">-->
                        <a href="javascript:;">

                        <div class="idiv">
                            <img src="__STATIC__/share/image/sanxing.png">
                        </div>

                    <span>三星应用商店</span>
                    </a>
                </li>
                <li class="app">
                    <!--<a href="javascript:alert('该平台暂时无法下载');">-->
                        <a href="javascript:;">

                        <div class="idiv" style="padding: 0;">
                            <img  src="__STATIC__/share/image/oppo.png" style="padding-top: 0.6rem;width: 200%;height: 40%">
                        </div>

                    <span>OPPO手机商店</span>
                    </a>
                </li>
                <li class="app" style="margin-left: 0.3rem;width: 28%">
                    <a href="http://www.wandoujia.com/apps/com.hanya.gxls">
                        <!--<a href="javascript:;">-->

                        <div class="idiv" style="padding: 0;">
                            <img src="__STATIC__/share/image/wandou.jpg" style="padding: 0.2rem 0 0 1.1rem;width: 100%;height: 100%">
                        </div>

                    <span style="width: 120%">豌豆荚</span>
                    </a>
                </li>

            </ul>
            <div class="clear"></div>
        </div>
        <div class="mobile_content2">
            <a href="https://www.pgyer.com/xuexiba" class="download">
                <!--直接下载-->
                <img src="__STATIC__/share/image/down2.png">
            </a>
        </div>
        <div class="mobile_bottom">
           <span>后续正在更新其他应用商城，持续精彩，敬请期待...</span>
           <span>请前往各大商城下载...</span>
           <span>浙江翰亚网络科技有限公司</span>



        </div>
        
    </div>
</body>
<script>
    var CWidth = $("body").width();
    var Cheigth=window.screen.height;
    var FSize = CWidth/375*20;
    $("html").css("font-size",FSize);
//    $("#box").height(Cheigth);

</script>
</html>