<extend name="Public/base" />
<block name="style">
    <style>
        .upload-img-box .upload-pre-item{
            display: inline-block;
        }
    </style>
</block>
<block name="body">
	<div class="main-title cf">
		<h2>编辑教师</h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<div class="tab-content"style="width: 50%;float: left">
			<!-- 表单 -->
			<form id="form" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
                    <div class="form-item">
                        <label class="item-label">用户名</label>
                        <div class="controls">
                            <span>{$userinfo.username}</span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">昵称</label>
                        <div class="controls">
                            <span>{$userinfo.nickname}</span>
                            <!--<input type="text" name="nickname" class="text input-large" value="{$userinfo.nickname|default=''}">-->
                        </div>
                    </div>
					<div class="form-item">
                        <label class="item-label">毕业院校</label>
                        <div class="controls">
                            <input type="text" name="graduated_school" class="text input-large" value="{$info.graduated_school|default=''}">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">毕业证书</label>
                        <div class="controls">
                            <div class="upload-img-box">
                                <notempty name="info['graduated_cert']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.graduated_cert}" target="_blank">
                                        <img src="{$info.graduated_cert}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">在校时间</label>
                        <!--<div class="controls">-->
                            <!--<input type="text" name="starttime" class="text input-large" value="{$info.starttime|default=''}">-->
                        <!--</div>-->
                         <input type="text"  name="starttime" class="text input-2x" value="{$info.starttime|default=''}" placeholder="" /> -
                        <div class="input-append date" id="datetimepicker"  style="display:inline-block">
                            <input type="text"  name="endtime" class="text input-2x" value="{$info.endtime|default=''}" placeholder="" />
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">学历</label>
                        <div class="controls">
                            <select name="education_id">
                                <volist name="educations" id="vo">
                                    <option value="{$vo.id}">{$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">学历备注</label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="remark">{$info.remark}</textarea>
                            </label>
                        </div>
                    </div>
<!--                     <div class="form-item">
                        <label class="item-label">特长科目</label>
                        <div class="controls">
                            <input type="text" name="name" class="text input-large" value="{$profile.name|default=''}">
                        </div>
                    </div> -->
                    <div class="form-item">
                        <label class="item-label">个人简历</label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="resume">{$info.resume}</textarea>
                            </label>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">身份证</label>
                        <div class="controls">
                            <input type="text" name="idcard" class="text input-large" value="{$userinfo.idcard|default=''}">
                        </div>
                    </div>
                    <div class="form-item">

                        <label class="item-label"></label>
                        <div class="controls">

                            <div class="upload-img-box">
                                <input type="checkbox" value="1" name="change1"> 证件1 2 调换

                            </div>

                        </div>
                    </div>
                    <div class="form-item">

                        <label class="item-label">学历证书1</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_1">
                            <input type="hidden" name="others_1" id="cover_others_1" value="{$info.others_1}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_1']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_1}" target="_blank">
                                            <img src="{$info.others_1}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>

                        </div>
                    </div>



                    <div class="form-item">
                        <label class="item-label">学历证书2</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_2">
                            <input type="hidden" name="others_2" id="cover_others_2" value="{$info.others_2}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_2']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_2}" target="_blank">
                                        <img src="{$info.others_2}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">荣誉证书1</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_3">
                            <input type="hidden" name="others_3" id="cover_others_3" value="{$info.others_3}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_3']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_3}" target="_blank">
                                        <img src="{$info.others_3}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">荣誉证书2</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_4">
                            <input type="hidden" name="others_4" id="cover_others_4" value="{$info.others_4}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_4']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_4}" target="_blank">
                                        <img src="{$info.others_4}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">身份证正面</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_5">
                            <input type="hidden" name="others_5" id="cover_others_5" value="{$info.others_5}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_5']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_5}" target="_blank">
                                        <img src="{$info.others_5}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                    <label class="item-label">身份证反面</label>
                    <div class="controls">
                        <input type="file" id="upload_picture_others_6">
                        <input type="hidden" name="others_6" id="cover_others_6" value="{$info.others_6}"/>
                        <div class="upload-img-box">
                            <notempty name="info['others_6']">
                                <div class="upload-pre-item">
                                    <a href="{$info.others_6}" target="_blank">
                                        <img src="{$info.others_6}">
                                    </a>
                                </div>
                            </notempty>
                        </div>
                    </div>
                </div>
                    <div class="form-item">
                        <label class="item-label">技能证书</label>
                        <div class="controls">
                            <input type="file" id="upload_picture_others_8">
                            <input type="hidden" name="others_8" id="cover_others_8" value="{$info.others_8}"/>
                            <div class="upload-img-box">
                                <notempty name="info['others_8']">
                                    <div class="upload-pre-item">
                                        <a href="{$info.others_8}" target="_blank">
                                            <img src="{$info.others_8}">
                                        </a>
                                    </div>
                                </notempty>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">课时费</label>
                        <div class="controls">
                            <input type="text" name="fee" class="text input-large" value="{$info.fee|default=''}">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">工作年限</label>
                        <div class="controls">
                            <input type="text" name="years" class="text input-large" value="{$info.years|default=''}">
                        </div>
                    </div>
                    <!--<div class="form-item">-->
                        <!--<label class="item-label">应聘岗位</label>-->
                        <!--<div class="controls">-->
                            <!--<input type="text" name="apply_job" class="text input-large" value="{$info.apply_job|default=''}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-item">
                        <label class="item-label">服务方式</label>
                        <div class="controls">
                            <select name="service_type">
                                <volist name="Think.config.SERVICE_TYPE2" id="vo">
                                    <option value="{$key}">{$vo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-item">-->
                        <!--<label class="item-label">薪资要求</label>-->
                        <!--<div class="controls">-->
                            <!--<input type="text" name="demand_fee" class="text input-large" value="{$info.demand_fee|default=''}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-item">-->
                        <!--<label class="item-label">是否审核通过</label>-->
                        <!--<div class="controls">-->
                            <!--<select name="is_passed">-->
                                <!--<volist name="Think.config.PASSED_CHOOSE" id="vo">-->
                                    <!--<option value="{$key}">{$vo}</option>-->
                                <!--</volist>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-item">
                        <label class="item-label">备注</label>
                        <div class="controls">
                            <select name="is_worth">
                                <volist name="wortharr" id="vo">
                                    <option value="{$key}">{$vo}</option>
                                </volist>


                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">详细</label>
                        <div class="controls">
                            <textarea name="remark1" role="10" cols="55">{$userinfo.remark|default=''}</textarea>
                        </div>
                    </div>
				</div>

				<!-- 按钮 -->
				<div class="form-item cf">
					<label class="item-label"></label>
					<div class="controls edit_sort_btn">
						<input type="hidden" name="id" value="{$info.id}">
						<input type="hidden" name="user_id" value="{$userinfo.id}">
						<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 认</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
        <div class="tab-content" style="width: 50%;float: left">
            <!-- 表单 -->
            <form id="form1" action="{:U('shenhe_edit')}" method="post"  class="form-horizontal1 doc-modal-form">
                <!-- 基础 -->
                <div id="tab11" class="tab-pane in tab1">

                    <div class="form-item">
                        <label class="item-label">是否审核通过</label>
                        <div class="controls">
                            <select name="is_passed">

                                <option value="0"></option>
                                <option value="1">是</option>
                                <option value="2">否</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">审核不通过原因</label>
                    <div class="controls">
                        <label class="textarea input-large">
                            <textarea name="refuse">{$info.refuse|default='您好！您未通过审核，请上传您的学历证书和身份证明并保持内容完整清晰，包括姓名、专业等内容，通过后台审核您便可以发布课程接单了。如有疑问请咨询客服。'}</textarea>
                        </label>
                        <span>审核不通过时需填</span>
                    </div>
                </div>
                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <input type="hidden" name="id" value="{$info.id}">
                        <input type="hidden" name="user_id" value="{$info.user_id}">
                        <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal1">确 认</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear: both"></div>
	</div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
Think.setValue("apply_course_id", {$info.apply_course_id|default=1});
Think.setValue("apply_grade_id", {$info.apply_grade_id|default=1});
Think.setValue("is_passed", {$info.is_passed|default=2});
Think.setValue("is_worth", {$userinfo.is_worth|default=0});
Think.setValue("education_id", {$userinfo.education_id|default=1});
Think.setValue("is_passed", {$info.is_passed|default=0});
//导航高亮
highlight_subnav('{:U('Accounts/teacher')}');


//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_1").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_1,
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash。');
    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_1(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_1").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_1").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}


//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_2").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_2,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_2(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_2").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_2").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_3").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_3,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_3(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_3").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_3").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_4").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_4,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_4(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_4").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_4").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_5").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_5,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_5(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_5").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_5").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_6").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_6,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_6(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_6").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_6").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}

//上传图片
/* 初始化上传插件 */
$("#upload_picture_others_8").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicturecover_others_8,
    'onFallback' : function() {

    }
});
//<!--<a href="{$info.others_1}" target="_blank">-->
//<!--<img src="{$info.others_1}">-->
//<!--</a>-->
function uploadPicturecover_others_8(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#cover_others_8").val(data.path);
        src = data.url || '__ROOT__' + data.path
        $("#cover_others_8").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><a href="__ROOT__' + src + '" target="_blank"><img src="__ROOT__' + src + '"/></a></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}
</script>
</block>

