<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>好友列表</h2>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
    <table class="">
    <thead>
        <tr>
        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
        <th class="">用户名</th>
        <th class="">关注对象</th>
        <th class="">关注时间</th>
        <th class="">备注</th>
        </tr>
    </thead>
    <tbody>
        <notempty name="_list">
        <volist name="_list" id="vo">
        <tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
            <td>{$vo.user_id|get_user_name} </td>
            <td>{$vo.following_id|get_user_name}</td>
            <td>{$vo.created|time_format}</td>
            <td>{$vo.extra}</td>
        </tr>
        </volist>
        <else/>
        <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
        </notempty>
    </tbody>
    </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    //导航高亮
    highlight_subnav('{:U('Accounts/user')}');
    </script>
</block>
